
<main>
    <table >
        <tbody>
            <tr>
                <td class="cuadrado_11" colspan="2">
                    <h1 class="tituloPrincipal">TRABAJEMOS TOGETHER!!</h1>
                    <h2 class="textoSecundario">Si quieres colaborar conmigo. Please rellena el formulario </h2> 
                </td>
                <td class="cuadrado_12">
                    <img  src="assets/cantante.png" width= 70% height= 70%;>
                </td>
            </tr>
            <tr>
                <td class="cuadrado_21" >
                    <h2 class="textoFormulario">Indique su Nombre: </h2>  <input type="text"/> <br><br>
                    <h2 class="textoFormulario">Indique su Apellido: </h2> <input type="text"/> 
                </td>
                <td class="cuadrado_22">
                    <h2 class="textoFormulario">Indique su Edad: </h2>  <input type="number" min="18" max="120" step="1"/> <br><br>
                    <h2 class="textoFormulario">N&uacute;mero de movil: </h2>  <input type="text"/> 
                </td>
                <td class="cuadrado_23">
                    <h2 class="textoSecundario">Soy m&aacute;s barato que contratar a Chayanne <br>
                        y lo sabes...
                    </h2>
                </td>
            </tr>
            <tr>
                <td class="cuadrado_31">
                    <label for="Bias"><h2 class="textoFormulario">Colaborar como:</h2> </label>
                    <input type="checkbox" name="Bias"  /> <span  class="textoFormulario"> Programador</span><br/>	
                    <input type="checkbox" name="Bias"  /><span  class="textoFormulario"> Modelo</span><br/>	
                    <input type="checkbox" name="Bias" /><span  class="textoFormulario"> Cantante</span><br/>	 
                </td>
                <td class="cuadrado_32" colspan="2">
                    <label for="observaciones"> <h2 class="textoFormulario"> Explica porque Felix tiene acento de Cambridge.</h2></label>
                    <textarea style="resize: none; width: 90%;" rows="5" name="observaciones"></textarea>
                </td>
                
            </tr>
    </table>
</main>