.myDiv_0{
	width: 100%; 
    height: 70px; 
    background-color:#333333;
    position: fixed;
    z-index: 2;
}
.caja_0{
    width: 30%;
    height: 90%;
    margin:auto;
}
.caja_0_1{
    width: 20%;
    height: 100%;
    float:left;
}
.caja_0_2{
    width: 80%;
    height: 100%;
    float:left;
    text-align: center;
}
.myDiv_1{
	width: 100%; 
    height: 70px; 
    background-color:#333333;
}

.nombre_andres{
	color:rgb(255, 255, 255); 
    font-size:  1.2rem;
    font-weight: 600;
}