
<main>
    <table >
        <tbody>
            <tr>
                <td class="cuadrado_11" >
                    <img  src="assets/marca_andres.png" width= 70% height= 70%;>
                </td>
                <td class="cuadrado_12" colspan="2">
                    <h1 class="tituloPrincipal">FLAVIO ANDR&Eacute;S CUICHAN FLORES <br> Estudiante de Telecomunicaciones</h1>
                </td>
            </tr>
            <tr>
                <td class="cuadrado_21" colspan="3">
                    <p class="textome"> Soy estudiante del último curso de Ingeniería de Telecomunicaciones especialidad en Sistemas Audiovisuales y Multimedia (Sonido e Imagen). 
                    Actualmente me encuentro realizando el TFG sobre realidad virtual con el framework de A-Frame programado en JavaScript, y a falta de dos asignaturas para poder finalizar mis estudios universitarios. <br> <br>
                    Mi objetivo es explotar mis habilidades y dedicarle todo mi tiempo y ganas a poder aprender de grandes profesionales del sector de la programación. Decidido a mostrar siempre entusiasmo y motivación en el desarrollo del trabajo.
                    </p>
                </td> 
            </tr>
            <tr>
                <td class="cuadrado_31">
                    <h2 class="titutloAficiones"> Pel&iacute;culas Favoritas</h2>
                    <ul class="textoAficiones">
                        <li>Harry Potter</li>
                        <li>The lord of the rings</li>
                        <li>The Contact</li>
                        <li>Divergente</li>
                     </ul>
                </td>
                <td class="cuadrado_32" >
                    <h2 class="titutloAficiones"> Canciones Favoritas</h2>
                    <ul class="textoAficiones">
                        <li>So bad by STAYC</li>
                        <li>Dun Dun by EVERGLOW</li>
                        <li>What is Love? by TWICE</li>
                        <li>Wannabe by ITZY</li>
                     </ul>
                </td>
                <td class="cuadrado_32" >
                    <h2 class="titutloAficiones">Juegos Favoritos</h2>
                    <ul class="textoAficiones">
                        <li>League of Legends</li>
                        <li>Counter Strike</li>
                        <li>Metin2</li>
                        <li>Minecraft</li>
                     </ul>
                </td>
            </tr>
    </table>
</main>